@model IEnumerable<Sinbin.Web.Models.Tile>

@Styles.Render("~/Content/feed")

<div class="feed">
    <div class="col-xs-1"></div>
    <label class="checkbox-inline">
        <input type="checkbox" checked data-toggle="toggle">
    </label>
    <div class="col-xs-10">
       
        @foreach (var item in Model)
        {
            <div class="img-container">
                <div class="@("user " + (item.Active ? "user-available" : "user-unavailable"))" style="background-image:url('@item.Image')"></div>
            </div>
        }
    </div>
    <div class="col-xs-1"></div>
</div>