@model IEnumerable<Sinbin.Web.Models.TileViewModel>
@{
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}
@Styles.Render("~/Content/feed")

<div class="feed">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
       
            @foreach (var item in Model)
            {
                <div class="img-container">
                    <div class="@("user " + (item.Active ? "user-available" : "user-unavailable"))" style="background-image:url('@item.Image')"></div>
                </div>
            }
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}