@model IEnumerable<Sinbin.Web.Models.Tile>

@Styles.Render("~/Content/feed")

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="col-xs-4">
            <!-- Hamburger Menu -->
        </div>
        <div class="col-xs-4">
            <!-- Potential app name / logo-->
        </div>
        <div class="col-xs-4">
            <input type="checkbox" checked data-toggle="toggle" data-width="75" data-on=" " data-off=" " data-onstyle="success" data-offstyle="danger">
        </div>
    </div>
</nav>
<div class="row feed">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
       
        @foreach (var item in Model)
        {
            <div class="img-container">
                <div class="@("user " + (item.Active ? "user-available" : "user-unavailable"))" style="background-image:url('@item.Image')"></div>
            </div>
        }
    </div>
    <div class="col-xs-1"></div>
</div>