@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

@Styles.Render("~/Content/menu")

<div class="list-group">
    <a href="#" class="list-group-item">Account</a>
    <a href="#" class="list-group-item">Log out</a>
    <a href="#" class="list-group-item disabled">Build number</a>
</div>