.user {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

.user-available {
  box-shadow: 0 0 10px rgba(77, 250, 25, 1);
  border: 2px solid rgba(77, 250, 25, 1);
}

.user-unavailable {
  box-shadow: 0 0 10px rgba(245, 15, 15, 1);
  border: 2px solid rgba(245, 15, 15, 1);
}

.image-container{
    margin: 20px 0px;
}

.feed {
    display: none;
}