.user {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

.user-available {
  box-shadow: 0 0 10px rgba(77, 250, 25, 1);
  border: 2px solid rgba(77, 250, 25, 1);
}

.user-unavailable {
  box-shadow: 0 0 10px rgba(245, 15, 15, 1);
  border: 2px solid rgba(245, 15, 15, 1);
}

.img-container{
    margin: 20px 0px;
}

.navbar > .container{
    padding: 7px;
}

.navbar .toggle{
    float: right;
}

/* override bootstrap col padding in navbar */
.navbar > .container > .col-xs-4{
    padding: 0;
}

.feed .navbar-toggle{
    float: left;
    margin-left: 10px;
}

.feed .toggle.btn{
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.feed .nav li:hover{
    background-color: rgb(121, 121, 121);
}