.image-upload{
    text-align: center;
    cursor: pointer;
}

.image-upload > input
{
    display: none;
}

.file-image
{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    margin: 0 auto;
}