.register .btn{
    width: 100%;
}

.register .btn-container{
    padding: 5px 0px;
}

.register .btn-green {
  background:#61bd4f;
  box-shadow:0 2px 0 #3f6f21;
  color:#fff
}

.register .btn-green:hover {
    background:#5aac44;
    background:-webkit-linear-gradient(top, #5aac44 0, #519839 100%);
    background:linear-gradient(to bottom, #5aac44 0, #519839 100%);
    color:#fff
}

.register .profile {
  
  background-image: url("../Images/icon-defaultprofile.png")
}

.register .image-upload{
    text-align: center;
}

.register .image-upload > input
{
    display: none;
}

.register #file-image
{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

.title{
    text-align: center;
}
